@use "_Variables" as *;

.bus {
  width: 100%;
  color: $white;
  font-weight: 400;

  &-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 8px 0 2px;
    border-bottom: 2px solid $white;
  }

  &-icon-left {
    width: 50px;
    height: 50px;
    background: url("../images/BusIkon.png") center/contain no-repeat;
    filter: brightness(0) invert(1);
    flex-shrink: 0;
  }
  
  &-icon-right {
    width: 100px;
    height: 100px;
    background: url("../images/Passagerer__Ikon1.png") center/contain no-repeat;
    filter: brightness(0) invert(1);
    flex-shrink: 0;
    margin-bottom: -1.5rem;
  }

  &-title-wrap {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &-title {
    display: flex;
    font-weight: 900;
    font-size: 4.25rem;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: -1.75rem;
  }

  &-list {
    margin: 10px 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  }
}

.busTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 4px;
}
