@use '_Variables' as *;

#date {
  font-size: 2.25rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $white;
  opacity: 0.95;
  text-align: center;
  margin-top: 1.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);

}

#clock {
  font-size: 3.35rem;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.01em;
  color: $white;
  text-align: center;
  margin-bottom: 12px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);

}
